<!DOCTYPE html>
<html>
<head>
  <title>Alta de socio | CFEVirtual</title>
  <style>
		.notificacion{
			padding:2rem;
			text-align: center;
		}
		.notificacion h1{
			color: #00327B;
			font-size: 3rem;
			border-bottom: 2px solid #CC0040;
		}
		.notificacion p{
			font-size: 1.5rem;
		}
		.notificacion span{
			background-color: #F49100;
			color: white;
		}
		.notificacion a{
			text-decoration: none;
		} 
  </style>
</head>
<body >
	<div class="notificacion">
		<h1>SOCIO DE CAMARASAL</h1>
		<p>Se ha creado el usuario satisfactoriamente!</p>
		<p>Se enviara un correo con el usuario y contraseña a su bandeja del correo: <span>{{ mycorreo }}</span></p>
		<p>Regresa a <a href="https://cfevirtual.camarasal.com/">CFEVirtual CAMARASAL</a></p>
	</div>
</body>
</html>
