{% extends "master.html" %}
{% load static %}
{% block title %}
  Centro de Formación Virtual Empresarial
{% endblock %}

{% block content %}
{% include "myencabezado.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

  <h1>Registros en MiModelo</h1>
    <table>
        <thead>
            <tr>
			<th>#</th>
                <th>Filial</th>
                <th>Código</th>
                <th>Empresa</th>
                <th>Nombre</th>
				<th>Registrado</th>
				<th>Socio</th>
				<th>Trabaja</th>
				<th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
				<td>{{ registro.id }}</td>
                    <td>{{ registro.filial }}</td>
                    <td>{{ registro.codigo }}</td>
                    <td>{{ registro.empresa }}</td>
                    <td>{{ registro.nombre }}</td>
							<td>{{ registro.registrado }}</td>
							<td>{{ registro.socio }}</td>
							<td>{{ registro.trabaja }}</td>
							<td>{{ registro.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

 {% include 'footer.html' %} 
	<script>
		const avisos = document.getElementById('cfe-avisos');
		let visible = {{ esvisible }};
		document.body.onclick = function() {
			avisos.classList.add("cfe-toogle")
			};
		document.body.onload = function() {
			mytoogle();
		}
		function mytoogle(){
			if(visible){
				avisos.classList.remove("cfe-toogle")
			}else{
				avisos.classList.add("cfe-toogle")
			}  
		}
	</script>	

{% endblock %}