{% extends "master.html" %}
{% load static %}
{% block title %}
  Socio | CFEVirtual
{% endblock %}

{% block content %}

<div id="cfe-rs-windon" class="cfe-mimodal">
	<div class="cfe-fondo"></div>
	<div class="cfe-marco">
		<div class="cfe-marco-blanco">
			<img src="{% static 'logo.png' %}" alt="My image">
			<h2>Registro de socio</h2>
			<form id="cfe-form-rs" action="guardar/" method="post" novalidate>
			{% csrf_token %}
				<div>
				<input type="text" id="cfe-ne-rs" name="cfe-empresa" placeholder="Nombre de la empresa" required />
				</div>
				<div>
				<input type="text" id="cfe-nr-rs" name="cfe-nombre" placeholder="Nombre del Responsable" required />
				</div>
				<div>
				<input type="text" id="cfe-cd-rs" name="cfe-cargo" placeholder="Cargo que desempeña" required />
				</div>
				<div>
				<input type="email" id="cfe-ce-rs" name="cfe-mail" placeholder="Correo Electronico" required />
				</div>
				<div>
				<input type="tel" id="cfe-te-rs" name="cfe-tel" placeholder="Telefono" required />
				</div>
				<div title="Requiere el formato 00099999" tooltip-dir="top" >
				<input type="text" id="cfe-cs-rs" name="cfe-codigo" placeholder="Numero de Socioi CAMARASAL, 00099999" maxlength="8" required pattern="[0-9]{8}" />
				</div>
				<input type="hidden" id="cfe-fe-rs" name="cfe-fecha" value="{{myfecha}}" />
				<span id="cfe-avisos" class="">Cuadro de avisos</span>
				<div>
				<button type="submit" value="Submit">Enviar</button>
				</div>
			</form>
		</div>
		<button id="cfe-close-rs" class="cfe-cerrar"><a href="{{ request.META.HTTP_REFERER }}">X</a>
</button>
	</div>
</div>  
<!--  AQUI EMPIEZA EL SCRIPT PARA ALGUNAS VALIDACIONES -->
	<script>
		const avisos = document.getElementById('cfe-avisos');
		let visible = {{ esvisible }};
		let textoDelmensaje = "{{ textoMensaje }}";
		
		document.body.onclick = function() {
			avisos.classList.add("cfe-toogle")
			};
		document.body.onload = function() {
			mytoogle();
		}
		function mytoogle(){
			if(visible){
				avisos.classList.remove("cfe-toogle")
				avisos.innerText = textoDelmensaje
			}else{
				avisos.classList.add("cfe-toogle")
				avisos.innerText = " "
			}  
		}
	</script>	
{% endblock %}